<section id="house">
  <div id="chouse" class="carousel slide texthouse" data-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <img
            class="imghouse"
            src="https://img.freepik.com/free-photo/black-man-doing-sports-playing-basketball-sunrise-jumping-silhouette_285396-1440.jpg?w=900&t=st=1662778187~exp=1662778787~hmac=bebcdf4ac3a184b6749441b09b3f7a2354e953132ef5249addc84f614219ca5b"
            alt=""
          />
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <img
            class="imghouse"
            src="https://img.freepik.com/free-photo/sports-tools_53876-138077.jpg?w=996&t=st=1662778011~exp=1662778611~hmac=3fba4a8dd2dc5da36005111a158b575b812814ae2a9a76fba331155723a362db"
            alt=""
          />
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <img
            class="imghouse"
            src="https://img.freepik.com/free-photo/young-woman-playing-badminton-gym_155003-12777.jpg?w=900&t=st=1662778231~exp=1662778831~hmac=0a108c90eee48d5bb09958cd91bb9b2bf76e67a7ca634c742ca240f2c870b832"
            alt=""
          />
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#chouse"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a
      class="carousel-control-next"
      href="#chouse"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>
