<mat-card style="text-align:center;border:3px solid black;width:600px;box-shadow: 10px 10px 8px 4px #888888;">
  <mat-card-title><h1 style="font-weight:400">Welcome to TURF</h1></mat-card-title>
  <hr>
  <mat-card-content>
  <img style="height:300px;width:500px;margin:10px" src="https://img.freepik.com/free-photo/sports-tools_53876-138077.jpg?w=900&t=st=1662778575~exp=1662779175~hmac=fa2bad326f9a8dd6ce7da548f76f67414989fcf8bf428814c9a134e03c301282">
   
  
  </mat-card-content>
  <mat-card-actions>
    <button (click)="loginWithGoogle()" class="google-login-btn" mat-raised-button>Login</button>
   
  </mat-card-actions>
</mat-card>


