<mat-card style="text-align:center;border:3px solid black;width:600px;box-shadow: 10px 10px 8px 4px #888888;">
  <mat-card-title><h1 style="font-weight:400">Welcome to TURF</h1></mat-card-title>
  <hr>
  <mat-card-content>
  <img style="height:300px;width:500px;margin:10px" src="https://media.hudle.in/photos/40532">
   
  
  </mat-card-content>
  <mat-card-actions>
    <button (click)="loginWithGoogle()" class="google-login-btn" mat-raised-button>LOGIN</button>
  </mat-card-actions>
</mat-card>


