<app-header></app-header>

<div *ngIf="socialAuthServive.authState | async as socialUser">
  <!-- <p>Hello, {{socialUser.name}}!</p>
          <br>
          <p>Your email: {{socialUser.email}}</p>
          <br>
          <button mat-raised-button (click)="logout()">Logout</button> -->
  <app-carousel></app-carousel>
 <!-- <div class="row">
  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">
        FootBall
      </div>
      <div class="card-body">

      </div>
    </div>
  </div>
  <div class="col-lg-4"></div>

  <div class="col-lg-4"></div>


 </div> -->
</div>
