
.parahead{
  font-size: 20px;
  color:#dee3e2;
  font-family:'Dancing Script', cursive;
  text-shadow: 3px 3px 3px #d1cebd;

  }
  .paradiv{
    display: inline-block;
    background-color: black;
    margin: 10px 120px;
    border-radius: 10%;
    padding: 5px 15px;
  }
.imghouse{
  height: 400px;
}
#house{
  padding: 20px 0;
}
.phouse
{
  font-size: 1.30vw;
  font-family: "Piedra";
  color: white;
  margin: 0 80px;
  text-shadow: 5px 5px 5px black;
}
.texthouse{
  padding:30px 70px;
  border: 5px solid black;
  border-color:#dee3e2;
  margin: 3px 30px;
}
.things{
  margin-top: 150px;
  background-color:  #dee3e2;
  display: inline-block;
  border-radius: 20%;
  opacity: 0.8;
  margin-bottom: 100px;
}
.thingimg
{
  height: 260px;
  width: 300px;
  border-radius: 20%;
  animation: shake 0.8s;
  animation-iteration-count: infinite;
  opacity: 1;
}
.thingpara
{
  font-family: "Montez";

  font-size: 80px;
  font-weight: 700;
  color: #d1cebd;
}

.card-header{
  background-color: black;
  color: white;
  border-color: white;
  border: 3px solid white;
  text-align: center;
  height: 60px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 15px;

}
.card-body{
  background-color:  rgb(90, 83, 83);
  border-color: white;
  border: 3px solid white;
}
.thingneed{
  margin: 50px 100px;
  background-color:  #d1cebd;
border-radius: 20%;
padding: 70px;
  opacity: 0.9;

}


